android/xxx.map

android/bin/*
android/gen/*
android/libs/*
android/obj/*
android/local.properties
android/.classpath

android/tests/bin/*
android/tests/gen/*
android/tests/libs/*
android/tests/obj/*
android/tests/local.properties
android/tests/.classpath

*.user

.DS_Store
**/.DS_Store
ios/MarbleMachine/.DS_Store

ios/build/*
ios/.DS_Store
ios/**/*.pbxuser
ios/.mode2v3
ios/*.mode1v3
ios/**/*.perspectivev*
**/*~.nib
**/*.swp
**/*.pbxuser
**/*.perspective
ios/MarbleMachine.xcodeproj/project.xcworkspace/xcuserdata/*
