android/bin/*
android/gen/*
android/libs/*
android/obj/*
android/local.properties
android/.classpath
android/.project
android/.cproject
android/.settings/*

android/tests/bin/*
android/tests/gen/*
android/tests/libs/*
android/tests/obj/*
android/tests/local.properties
android/tests/.classpath
android/tests/.project
android/tests/.cproject

*.user
