android/bin/*
android/gen/*
android/libs/*
android/obj/*
android/local.properties
android/.classpath
android/.project
android/.cproject
android/.settings/*

android/tests/bin/*
android/tests/gen/*
android/tests/libs/*
android/tests/obj/*
android/tests/local.properties
android/tests/.classpath
android/tests/.project
android/tests/.cproject
android/tests/.settings/*

*.user

.DS_Store
**/.DS_Store

ios/build/*
ios/.DS_Store
ios/**/*.pbxuser
ios/.mode2v3
ios/*.mode1v3
ios/**/*.perspectivev*
**/*~.nib
**/*.swp
**/*.pbxuser
**/*.perspective
**/xcuserdata/*
